@model OnlineLibrary.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bauthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bauthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_of_books)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_of_books)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.catagry_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catagry_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


