@model IEnumerable<OnlineLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Bname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bauthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_of_books)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catagry_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Bname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bauthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_of_books)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catagry_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BId })
            </td>
        </tr>
    }


</table>

<p>

    @Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "btn btn-info" })
</p>

<p>

    @Html.ActionLink("User Edditing", "Index", "Admin", null, new { @class = "btn btn-info" })
</p>