@model IEnumerable<OnlineLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}

    <h1 class="glyphicon glyphicon-book">Books </h1>

<p>
    @*@@Html.ActionLink("Create New", "Create", null , new { @class = "btn btn-info" })*@
    <a href="@Url.Action("Create","Books")" class="btn btn-primary" target="_blank">
        <span class="glyphicon glyphicon-heart"></span>
        New Book
    </a>
</p>
<p>
    @using (Html.BeginForm("Search", "Books", FormMethod.Get))
    {
        <text> <b>Search:</b></text>
        @Html.TextBox("key") <input type="submit" value="search" class="btn btn-primary" />
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bauthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_of_books)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catagry_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bauthor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bprice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.no_of_books)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.catagry_Id)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.BId })*@
        <a href="@Url.Action("Edit","Books",new { id=item.BId}) " class="btn btn-success ">
            <span class="glyphicon glyphicon-arrow-up"></span>
            Edit
        </a> |
        <a href="@Url.Action("Details","Books",new { id=item.BId}) " class="btn btn-toolbar ">
            <span class="glyphicon glyphicon-baby-formula"></span>
            Details
        </a>

        @*@Html.ActionLink("Details", "Details", new { id = item.BId }) |*@
        @*@Html.ActionLink("Delete", "Delete", new { id = item.BId })*@
        <a href="@Url.Action("Delete","Books",new { id=item.BId}) " class="btn btn-danger ">
                <span class="glyphicon glyphicon-arrow-down" ></span>
               Delete
            </a>
    </td>
</tr>
    }


</table>

<p>

    @Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "btn btn-info" })
</p>

<p>

    @Html.ActionLink("User Editing", "Index", "Admin", null, new { @class = "btn btn-info" })
</p>